html {
    height: 100%
}

body {
    margin: 0;
    height: 100%;
    background: #fff;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.text {
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    height: 100%;
    line-height: 100%;
    top: 0;
    position: absolute;
    top: 50%;
    font-size: 50px;
}